<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showMenu" menu="menu-content"></ion-menu-button>
      <!--========== Back Button =========-->
      <ion-back-button *ngIf="backButton" [defaultHref]></ion-back-button>
      <!--========== Dismiss Modal =========-->
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

      
        
      

    <ion-title>
      <strong>{{ title }}</strong>
      <span class="app-name">TrackIt</span>
    </ion-title>

    <ion-buttons slot="end">
      <!--========== Notifications =========-->
      <ion-button *ngIf="notifications" (click)="openNotifications()" class="notifications-button">
  <ion-icon name="notifications-outline"></ion-icon>
  <ion-badge *ngIf="notificationCount > 0" class="notification-badge">{{ notificationCount }}</ion-badge>
</ion-button>
      
      <!--========== Shopping Cart =========-->
      <ion-button *ngIf="shoppingCart" (click)="openCart()" class="cart-button">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge *ngIf="cart.length > 0" class="cart-badge">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>