<app-header [shoppingCart]="true" [notifications]="true" [showMenu]="true" title="Inicio"></app-header>

<ion-content>

  <!-- Campo de búsqueda y botón de filtro -->
  <div class="search-container" *ngIf="user().role === 'admin' || user().role === 'cliente'">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterProducts()" placeholder="Buscar productos..."></ion-searchbar>
    <ion-item class="category-dropdown">
      <ion-label>Categoría</ion-label>
      <ion-select 
      [(ngModel)]="selectedCategory"
      (ionChange)="filterProducts()"
        placeholder="Selecciona una categoría" 
        interface="popover" 
        class="ion-select-custom">
        <ion-select-option value="">Todas</ion-select-option> <!-- Opción para mostrar todos -->
        <ion-select-option *ngFor="let cat of categories" [value]="cat">
          {{ cat }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
  </div>


    <div class="no-products" *ngIf="filteredProducts.length === 0 && (user().role === 'admin' || user().role === 'cliente')">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>No hay productos disponibles.</p>
    </div>


  <ion-list *ngIf="user().role === 'admin' || user().role === 'cliente'" >
    <ion-item-sliding class="product-item" *ngFor="let p of filteredProducts | paginate: { itemsPerPage: 5, currentPage: page }">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="p.urlImage" />
        </ion-avatar>
        <ion-label> 
          <div class="name">{{ p.name }}</div>
          <div class="data">
            <strong>Precio: </strong> {{ p.price | currency:'USD':'symbol':'1.2-2' }} <br>
            <strong>Stock: </strong> {{ p.stock }} <br>
          </div>
        </ion-label>
  
        <!-- Contenedor de cantidad + botón para usuarios que no son admin -->
        <div class="quantity-container" *ngIf="user().role === 'cliente'">
          <ion-input [(ngModel)]="p.quantity" type="number" min="1" [max]="p.stock" placeholder="1" class="quantity-input">
          </ion-input>
          <ion-button fill="solid" color="primary" class="add-btn" 
            (click)="addToCart(p)">
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>


  
      <!-- Opciones para admin -->
      <ion-item-options *ngIf="user().role === 'admin'" side="end">
        <ion-item-option (click)="addUpdateProduct(p)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteProduct(p)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <pagination-controls (pageChange)="page = $event" *ngIf="user().role === 'admin' || user().role === 'cliente'"></pagination-controls>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addUpdateProduct()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div *ngIf="user().role === 'domiciliario'">
    <h2 class="section-title">Pedidos Disponibles</h2>
    <div class="search-container">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterOrders()" placeholder="Buscar Pedidos..."></ion-searchbar>
    
  </div>
    <ion-card *ngFor="let pedido of filteredOrders">
      <ion-card-header>
        <ion-card-title>Pedido #{{ pedido.id }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Dirección:</strong> {{ pedido.address }}</p>
        <p><strong>Productos:</strong></p>
        <ion-button expand="block" color="primary" (click)="assignOrderToCarrier(pedido)">
          Aceptar Pedido
        </ion-button>
      </ion-card-content>
    </ion-card>

    <div class="no-pedidos" *ngIf="filteredOrders.length === 0">
      <ion-icon name="information-circle-outline"></ion-icon>
      <p>No hay pedidos disponibles en este momento.</p>
    </div>
  </div>

  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngIf="user().role === 'admin'" (click)="addUpdateProduct()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
