<app-header title="Productos" [isModal]="true"></app-header>

<ion-content>

  <ion-item>
    <ion-thumbnail slot="start">
      <img [src]="product.urlImage" alt="{{ product.name }}" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{ product.name }}</h2>
      <p>Cantidad: {{ product.quantity }}</p>
      <p>Precio unitario: {{ product.price | currency:'COP' }}</p>
      <p><strong>Total: {{ product.quantity * product.price | currency:'COP' }}</strong></p>
    </ion-label>
  </ion-item>
</ion-content>