.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .sign-up-card {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sign-up-content {
    padding: 20px;
  }
  
  .logo-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  
  .sign-up-button {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
  }
  
  .sign-up-register {
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    color: #3880ff;
    font-weight: bold;
    height: 45px;
  }
  
  .validators {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .extra-options {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  
    a {
      color: #3880ff;
      text-decoration: none;
    }
  }
  

  .role-dropdown {
    margin: 10px 0;
    --background: #fff;
    --border-radius: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
  
    ion-label {
      font-size: 15px;
      color: #555;
      font-weight: 500;
      margin-left: 8px;
    }
  
    /* Ajustes dentro del ion-select */
    .ion-select-custom {
      --padding-start: 0;
      --padding-end: 0;
      margin-left: 10px;
      font-size: 15px;
      color: #333;
  
      /* Cambia el color del placeholder */
      --placeholder-color: #999;
  
      /* Cambia el icono por defecto (chevron-down) si lo deseas */
      /* --select-icon: url('assets/icons/custom-caret.svg'); */
      /* --select-icon-size: 14px; */
    }
  }