ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center;
  height: 100%; /* Asegura que ocupe toda la pantalla */
  padding: 20px; /* Añade un poco de espacio */
}

.form-container {
  width: 100%;
  max-width: 400px; /* Controla el ancho del formulario */
}

.product-card {
  width: 100%;
  text-align: center;
}

.avatar-icon {
  font-size: 100px;
  color: var(--ion-color-primary);
  margin-bottom: 20px;
  margin-top: 60px;
}
